.App {
  text-align: center;
}

.logo {
  pointer-events: none;
  float: right;
  padding: 1vw;
  max-width: 30vw;
  min-width: 10vw;
}

.header {
  min-height: 5vh;
  font-size: calc(10px + 2vmin);
  text-align: center;
  font-weight: 600;
  margin-bottom: 2vh;
  box-sizing: border-box;
}
